header
    .cover
    //nav.nav-bar
        .logo
            a(href='/')
                img(src='/assets/images/favicon/apple-icon.png')
        .avatar
            a(href='#profile')
                img(src='assets/images/default-avatar.png')


        //div.version
            a(href='http://admin.jdi-engine.loc/')
                i.jdi-link-devices
                span &nbsp;admin
            span &nbsp;|&nbsp;
            a(href='http://m.jdi-engine.loc/')
                i.jdi-device-phone
                span &nbsp;mobile