nav
    a.nav-trigger(href='#nav')
        i.jdi-menu
    .menu
        a(href='#1')
            i.jdi-home
            span Главная
            span.bar
        a(href='#2')
            i.jdi-news-alt-2
            span Новости
            span.bar
        a(href='#3')
            i.jdi-archive
            span Q&A
            span.bar
        a(href='#4')
            i.jdi-info-alt-circled
            span О нас
            span.bar
        a(href='#5')
            i.jdi-terminal
            span Проекты
            span.bar