<? require_once('protected/core.php'); require_once('protected/desktop.core.php');?>
doctype html
head
    title <?echo($config['title'].' '.$config_ver['version']);?>
    //=== @ CSS ===
    link(rel='stylesheet',type='text/css',href='/assets/css/style.min.css')
    link(rel='stylesheet',type='text/css',href='/assets/fonts/style.css')
    <!--[if lt IE 8]><!-->
    link(rel='stylesheet',type='text/css',href='/assets/fonts/ie7.css')
    <!--<![endif]-->
    //=== ! CSS ===
    //=== @ JS ===
    script(src='/assets/js/lib/jquery.min.js')
    script(src='/assets/js/functions.min.js')
    script(src='/assets/js/global.jquery.min.js')
    script(src='/assets/js/desktop.jquery.min.js')
    //=== ! JS ===
body
    <?
    |   require_once('protected/app/views/components/header.php');
    |   require_once('protected/app/views/components/nav.php');
    | ?>
