doctype html
head
    title desktop
    //=== @ CSS ===
    link(rel='stylesheet',type='text/css',href='/assets/css/style.min.css')
    link(rel='stylesheet',type='text/css',href='/assets/fonts/style.css')
    <!--[if lt IE 8]><!-->
    link(rel='stylesheet',type='text/css',href='/assets/fonts/ie7.css')
    <!--<![endif]-->
    //=== ! CSS ===
    //=== @ JS ===
    script(src='/assets/js/lib/jquery.min.js')
    script(src='/assets/js/functions.min.js')
    script(src='/assets/js/global.jquery.min.js')
    script(src='/assets/js/desktop.jquery.min.js')
    //=== ! JS ===
body
