doctype html
head
    title admin
    //=== @ CSS ===
    link(rel='stylesheet',type='text/css',href='/assets/css/style.min.css')
    //=== ! CSS ===
    //=== @ JS ===
    script(src='/assets/js/lib/jquery.min.js')
    script(src='/assets/js/functions.min.js')
    script(src='/assets/js/global.jquery.min.js')
    script(src='/assets/js/admin.jquery.min.js')
    //=== ! JS ===
body
